.post__container {
  margin: 80px 80px 0px 30px;
  font-family: 'Inter', sans-serif;
  color: #1d2939;
}

.post__user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.post__user-name {
  font-weight: 600;
  margin-left: 10px;
}

.post__inner {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
}

.post__text {
  margin: 5px 10px 20px 0px;
}

.post__edit-form__container {
  margin: 20px 0px;
}
