.dialogs-list__item__container {
  padding-bottom: 25px;
  font-size: 16px;
  list-style-type: none;
  margin-bottom: -20px;

  .dialogs-list__item__box-for-dot {
    display: flex;
    align-items: center;

    .dialogs-list__item__dot {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: rgb(92, 91, 91);
      margin-right: 5px;
    }
  }

  .dialogs-list__item__inner {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    .dialogs-list__item__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin: 0px 10px 0px 10px;
    }
  }
}

.dialogs-list__item__container:hover {
  .dialogs-list__item__name {
    color: gold;
    transition: font-weight 0.2s, color 0.2s, transform 0.2s;
    font-weight: 600;
  }
  .dialogs-list__item__avatar {
    transition: border 0.2s, transform 0.2s;
    border: 2px solid gold;
  }
}

._active {
  .dialogs-list__item__container {
    .dialogs-list__item__dot {
      background-color: #f04438;
      transition: background 0.2s, transform 0.2s;
    }
    .dialogs-list__item__name {
      color: #9e77ed;
      transition: font-weight 0.2s, color 0.2s, transform 0.2s;
      font-weight: 600;
    }
    .dialogs-list__item__avatar {
      transition: border 0.2s, transform 0.2s;
      border: 2px solid #9e77ed;
    }
  }
}

/* Edit menu dialogs item */

.dialogs-list__delete-dialog-btn {
  width: 100px;
  border-radius: 50px;
  background-color: #f9f5ff;
  color: #6941c6;
  border: none;
  box-shadow: none;
  margin: 3px 0px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  position: relative;
  bottom: 30px;
  left: 85px;

  .dialogs-list__delete-dialog-btn__dot {
    background: #f04438;
    position: relative;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin-right: 5px;
  }
}

.dialogs-list__edit-toggler {
  position: relative;
  bottom: 25px;
  left: 95px;
  color: #101828;
  cursor: pointer;
}
