.dialogs h2 {
  margin: 0px 0px 5px 5px;
}

.dialogs__wrapper {
  display: flex;
  min-height: 100%;
  min-width: 600px;
  font-family: 'Inter', sans-serif;
}

.dialogs-list__container {
  width: 30%;
}

.dialogs-list__inner ul {
  margin: 30px 0px 0px -30px;
}

.dialogs-messages__container {
  width: 70%;
  min-height: 100%;
  border-left: solid 1px #fcceed;
}
.dialogs-messages__chat-container {
  height: 600px;
  overflow-y: auto;
  max-width: 620px;
  display: flex;
  flex-flow: column;
  margin-left: 30px;
}
